.lesson-preview {
    display: block;
    position: relative;
    width: 225px;
    height: 202px;
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.lesson-preview img {
    display: block;
    position: absolute;
    width: 225px;
    /*height: px;*/
}

.lesson-preview .info-wrapper {
    position: absolute;
    top: 75px;
    width: 225px;
    height: 177px;
    padding: 0 20px;
    background: white;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -ms-transition: top 0.5s;
    -o-transition: top 0.5s;
    transition: top 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.lesson-preview:hover .info-wrapper{
    top: 0;
}

.lesson-preview .info-wrapper h2 {
    margin: 0;
    padding: 16px 0 6px;
    font-size: 14px;
    max-height: 40px;
    overflow: hidden;
    color: #07111b;
    line-height: 21px;
}

.lesson-preview .info-wrapper .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #93999f;
    font-size: 12px;
    /*height: 40px;*/
    overflow: hidden;
    line-height: 20px;
}

.lesson-preview:hover .description {
    -webkit-line-clamp: 6;
}

.lesson-preview .badge-wrapper {
    position: absolute;
    top: 2px;
    right: 0;
    z-index: 1;
}

.lesson-preview .preview-badge {
    margin: 0 1px;
}

.lesson-preview .preview-badge > sup {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.lesson-preview .new-home-work-badge {
    float: right;
}

.lesson-preview .feedback-badge {
    float: right;
    border: none;
}

.lesson-preview .teacher-wrapper {
    width: 100%;
    padding-bottom: 5px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: #93999f;
    font-size: 12px;
    overflow: hidden;
    line-height: 20px;
    background: #ffffff;
}

.lesson-preview .lesson-id {
    float: left;
    margin-left: 20px;
}
.lesson-preview .teacher {
    margin-right: 20px;
    float: right;
}